<div class="container bg-secondary">
    <div class="row pt-3">
        <div class="col offset-md-3">
            <div class="card mb-3" style="max-width: 640px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="/customer/img1.jpg" class="card-img" alt="img1">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Jenner loffer</h5>
                      <p class="card-text">I am very happy after getting a good offer for travelling my dream land</p>
                      <p class="card-text"><small class="text-muted">Last updated 7 months ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col offset-md-3">
            <div class="card mb-3" style="max-width: 640px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="/customer/img2.jpg" class="card-img" alt="img1">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Elena Gilbert</h5>
                      <p class="card-text">I am very happy after getting a good offer for travelling my dream land</p>
                      <p class="card-text"><small class="text-muted">Last updated 10 hours ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col offset-md-3">
            <div class="card mb-3" style="max-width: 640px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="/customer/img3.jpg" class="card-img" alt="img1">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Rebeka Michelson</h5>
                      <p class="card-text">I am very happy after getting a good offer for travelling my dream land</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 days ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col offset-md-3">
            <div class="card mb-3" style="max-width: 640px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="/customer/img4.jpg" class="card-img" alt="img1">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Joe cutler</h5>
                      <p class="card-text">I am very happy after getting a good offer for travelling my dream land</p>
                      <p class="card-text"><small class="text-muted">Last updated 55 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col offset-md-3">
            <div class="card mb-3" style="max-width: 640px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="/customer/img5.jpg" class="card-img" alt="img1">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Carolina Marine</h5>
                      <p class="card-text">I am very happy after getting a good offer for travelling my dream land</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col offset-md-3">
            <div class="card mb-3" style="max-width: 640px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="/customer/img6.jpg" class="card-img" alt="img1">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Jyoti camel</h5>
                      <p class="card-text">I am very happy after getting a good offer for travelling my dream land</p>
                      <p class="card-text"><small class="text-muted">Last updated 1 year ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col offset-md-3">
            <div class="card mb-3" style="max-width: 640px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="/customer/img7.jpg" class="card-img" alt="img1">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Cami auger</h5>
                      <p class="card-text">I am very happy after getting a good offer for travelling my dream land</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 month ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>